@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&family=Cairo:wght@400;600;700&display=swap');

/*$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;*/
$font-primary: 'Karla', sans-serif;
$font-secondary: 'Karla', sans-serif;


/* MYZ FONT SYMBOLS*/
@font-face {
    font-family: 'myz';
    src: url('../fonts/YZ.eot');
    src: url('../fonts/YZ.eot?#iefix') format('embedded-opentype'), url('../fonts/YZ.woff') format('woff'), url('../fonts/YZ.ttf') format('truetype'), url('../fonts/YZ.svg#myz') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='yz-']:before {
    display: inline-block;
    font-family: 'yz';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.yz-radioactive:before {
    content: '\0041';
}

.yz-biohazard:before {
    content: '\0042';
}

.yz-explosion:before {
    content: '\0043';
}