<header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
        <div class="grid grid-3col">
            <div class="resource">
                <label for="data.quantity" class="resource-label">{{localize 'YZ.QUANTITY'}}</label>
                <input class="input-underline" type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
            </div>
            <div class="resource flex column">
                <label for="data.weight" class="resource-label">{{localize 'YZ.WEIGHT'}}</label>
                <select class="input-underline" name="data.weight">
                    {{#select data.weight}}
                    <option value="0">{{localize 'YZ.WEIGHT_TINY'}} (0)</option>
                    <option value="0.5">{{localize 'YZ.WEIGHT_LIGHT'}} (1/2)</option>
                    <option value="1">{{localize 'YZ.WEIGHT_REGULAR'}} (1)</option>
                    <option value="2">{{localize 'YZ.WEIGHT_HEAVY'}} (2)</option>
                    {{/select}}
                </select>
            </div>
            <div class="resource">
                <label for="data.cost" class="resource-label">{{localize 'YZ.COST'}}</label>
                <input class="input-underline" type="text" name="data.cost" value="{{data.cost}}" />
            </div>
        </div>
    </div>
</header>