<header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>
        {{#if (ifvalue type "ability")}}
        <div class="grid grid-3col item-attr-row">
            <div class="flex column">
                <label class="resource-label" for="data.creatureType">{{localize "YZ.ABILITY_TYPE"}}</label>
                <select name="data.creatureType">
                    {{#select data.creatureType}}
                    <option value="character">{{localize "YZ.ABILITY_CHARACTER"}}</option>
                    <option value="animal">{{localize "YZ.ABILITY_ANIMAL"}}</option>
                    <option value="robot">{{localize "YZ.ABILITY_ROBOT"}}</option>
                    <option value="human">{{localize "YZ.ABILITY_HUMAN"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="flex column">
                {{#if (ifvalue data.creatureType 'robot')}}
                <label class="resource-label">{{localize "YZ.BROKEN"}}</label>
                <input type="checkbox" name="data.broken" {{checked data.broken}} />
                {{/if}}
            </div>
            <div></div>
        </div>
        {{/if}}

        {{#if (ifvalue type "talent")}}
        <div class="grid grid-3col item-attr-row">
            <div class="flex column">
                <label class="resource-label" for="data.creatureType">{{localize "YZ.TALENT_TYPE"}}</label>
                <select name="data.creatureType">
                    {{#select data.creatureType}}
                    <option value="character">{{localize "YZ.TALENT_CHARACTER"}}</option>
                    <option value="animal">{{localize "YZ.TALENT_ANIMAL"}}</option>
                    <option value="robot">{{localize "YZ.TALENT_ROBOT"}}</option>
                    <option value="human">{{localize "YZ.TALENT_HUMAN"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="flex column">

                <label class="resource-label" for="data.roleType">{{localize "YZ.TALENT_SOURCE"}}</label>
                <select name="data.roleType">
                    {{#select data.roleType}}
                    <option value="general">{{localize "YZ.GENERAL"}}</option>
                    <option value="role">{{localize "YZ.ROLE"}}</option>
                    {{/select}}
                </select>
            </div>
            <div></div>
        </div>
        {{/if}}

        {{#if (ifvalue type "critical")}}
        <div class="grid grid-3col item-attr-row">
            <div class="resource">
                <label for="data.lethal" class="resource-label">{{localize 'YZ.LETHAL'}}</label>
                <input type="text" name="data.lethal" value="{{data.lethal}}" />
            </div>
            <div class="resource">
                <label for="data.timeLimit" class="resource-label">{{localize 'YZ.TIMELIMIT'}}</label>
                <input type="text" name="data.timeLimit" value="{{data.timeLimit}}" />
            </div>
            <div class="resource">
                <label for="data.healingTime" class="resource-label">{{localize 'YZ.HEALINGTIME'}}</label>
                <input type="text" name="data.healingTime" value="{{data.healingTime}}" />
            </div>
        </div>
        {{/if}}

    </div>
</header>