<div class="tab" data-group="primary" data-tab="modifiers" style="height:350px">

    <div>
        <h3 style="text-transform:uppercase; text-align: center; font-weight: 900;">{{localize 'YZ.BASE_DICE'}}</h3>
        <div>
            <div class="flex space-between">
                <p>{{localize 'YZ.ATTRIBUTE_STRENGTH_MUTANT'}} / {{localize 'YZ.ATTRIBUTE_STRENGTH_ROBOT'}}</p>
                <input class="short-input" type="number" name="data.modifiers.strength" value="{{data.modifiers.strength}}">
            </div>
            <div class="flex space-between">
                <p>{{localize 'YZ.ATTRIBUTE_AGILITY_MUTANT'}} / {{localize 'YZ.ATTRIBUTE_AGILITY_ROBOT'}}</p>
                <input class="short-input" type="number" name="data.modifiers.agility" value="{{data.modifiers.agility}}">
            </div>
            <div class="flex space-between">
                <p>{{localize 'YZ.ATTRIBUTE_WITS_MUTANT'}} / {{localize 'YZ.ATTRIBUTE_WITS_ROBOT'}}</p>
                <input class="short-input" type="number" name="data.modifiers.wits" value="{{data.modifiers.wits}}">
            </div>
            <div class="flex space-between">
                <p>{{localize 'YZ.ATTRIBUTE_EMPATHY_MUTANT'}} / {{localize 'YZ.ATTRIBUTE_EMPATHY_ANIMAL'}} / {{localize 'YZ.ATTRIBUTE_EMPATHY_ROBOT'}}</p>
                <input class="short-input" type="number" name="data.modifiers.empathy" value="{{data.modifiers.empathy}}">
            </div>
        </div>
    </div>

    <div>
        <h3 style="text-transform:uppercase; text-align: center; font-weight: 900; padding-top: 10px;">{{localize 'YZ.SKILL_DICE'}} & {{localize 'YZ.GEAR_DICE'}}</h3>
        <div class="grid grid-3col">
            <p>{{localize 'YZ.SKILL_NAME'}}</p>
            <span style="display: flex; justify-content: center;"><p>{{localize 'YZ.SKILL_DICE_MODIFIER'}}</p></span>
            <span style="display: flex; justify-content: center;"><p>{{localize 'YZ.GEAR_DICE_MODIFIER'}}</p></span>
        </div>
        {{#each data.skillKeysList as |key index|}}
        <div class="grid grid-3col" >
            <span><p>{{localize (concat 'YZ.SKILL_' key)}}</p></span>
            <span style="display: flex; justify-content: center;"><input class="short-input" type="number" name="data.modifiers.{{key}}" value="{{lookup ../data.modifiers key}}"></span>
            <span style="display: flex; justify-content: center;"><input class="short-input" type="number" name="data.gearModifiers.{{key}}" value="{{lookup ../data.gearModifiers key}}"></span>
        </div>
        {{/each}}
    </div>
</div>