<div class="box-item flex header align-center {{data.creatureType}}">
    <label class="item-name">{{localize "YZ.CONSUMABLES"}}</label>
</div>
<div class="box-list consumables {{data.creatureType}}">
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="data.resources.grub.value">{{localize "YZ.FOOD"}}</label>
        <input class="short-input right-element" name="data.resources.grub.value" type="number" data-type="Number" value="{{data.resources.food.value}}" />
    </div>
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="data.resources.water.value">{{localize "YZ.WATER"}}</label>
        <input class="short-input right-element" name="data.resources.water.value" type="number" data-type="Number" value="{{data.resources.water.value}}" />
    </div>
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="data.resources.bullets.value">{{localize "YZ.AMMO"}}</label>
        <input class="short-input right-element" name="data.resources.bullets.value" type="number" data-type="Number" value="{{data.resources.ammo.value}}" />
    </div>
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="data.resources.booze.value">{{localize "YZ.BOOZE"}}</label>
        <input class="short-input right-element" name="data.resources.booze.value" type="number" data-type="Number" value="{{data.resources.booze.value}}" />
    </div>
</div>